<h3>DBZ Personajes</h3>
<hr>
<div class="row">
  <div class="col">
    <dbz-list [characterList]="characters" (onDelete)="onDeleteCharacter($event)" ></dbz-list>

    <!--
      Al momento de querer enviar informacion a otro componente mediante un input, indicaremos la salida de la informacion deseada
      mediante corchetes, dentro de ellos indicaremos a que variable del componente externo le asignaremos el valor de la informacion
      mandada, quedando al final un codigo como el siguiente:

        [variableDondeAsignaresmosLaInformacion] = "variableDeDondeMandamosLaInformacion"
|
    -->

  </div>

  <div class="col">
    <dbz-add-character (onNewCharacter)=" onNewCharacter($event) "  ></dbz-add-character>
    <!--
      Al momento de resivir información de otro componente mediante un "Ouput", se debe de recibir el evento de la forma anterior.
      Siendo indicado que vamos a resivir informacion de el con los paretesis, de esta forma angular va a observar los eventos que
      estemos emitiendo en todo nuestro codigo permitiendonos seleccionar el que deseamos; quedandonos como resultado lo siguiente:

        (Evento/emision_de_datos_externa)= " Funcion_del_componente_donde_realizaremos_alguna_accion($event)"

      - Función del componente donde realizaremos alguna accion con la informacion resivida:
          En esta funcion resiviremos la infomacion emitida por el otro componente. Por lo que en esta misma tendremos que indicar
          que accion es la que queremos que se realice al momento de recibirla

      - $event :
          Al momento de poner el texto anterior en la funcion donde manipularemos la informacion recibida, indicamos a angular
          que tipo de dato esperamos (objeto, lista, cadena, numero o boleano), permitiendos validar que lo que esperamos es lo correcto

      En el frontend
    -->
  </div>
</div>
