<h3>Listado de heroes</h3>

<div *ngIf="heroeBorrado; else nothingWasDelete">
  <h3> Heroe borrado <small class="text-danger"> {{heroeBorrado}} </small></h3>
</div>

<ng-template #nothingWasDelete>
  <!--
    Un "ng-templete" es similar a un div, la diferencia es que se encuentra "destruido", es decir,
    simula no existir hasta el momento en que es llamado
  -->
  <h3> No ha borrado nada</h3>
</ng-template>


<button
  *ngIf="heroeNames.length >0"
  class="btn btn-outline-danger"
  (click)="removeLastHero()">
  Borrar Ultimo Heroe
</button>
<hr>
<p>Uso de Ng-For</p>
<ul class="mt-2 list-group">
  <li class="list-group-item" *ngFor="let name of heroeNames">{{name}}</li>
</ul>
<hr>
